<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section>
      <script th:src="@{/scripts/web/backoffice/pedido/pedido.js}" type="text/javascript"></script>

      <div class="container col-md-12">
          <div class="row">
              <div class="text-center col-md-9">
                  <h2>PEDIDOS</h2>
                  <table class="table table-hover table-dark table-bordered border-primary table-sm align-middle">
                      <thead>
                      <tr>
                          <th>ID</th>
                          <th>Número</th>
                          <th>Fecha Creación</th>
                          <th>Fecha Recibida</th>
                          <th>Estado</th>
                          <th>Usuario</th>
                          <th>ACCIONES</th>
                      </tr>
                      </thead>
                      <tbody id="body">
                      <!-- pedidos-->
                      </tbody>
                  </table>
              </div>
              <aside class="ladoderecho col-md-3">
                  <!--detalles pedidos-->

              </aside>
          </div>
      </div>





  </section>


</body>
</html>