<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
</head>
<body>
    <section>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div style="width: 800px; height: 400px;">
            <canvas id="myChart" width="800" height="400"></canvas>
        </div>
        <script>
            Chart.defaults.color='fff'
            function mostrarCharts() {
                fetchCoastersData("/dashboard/productos","/dashboard/categorias","/dashboard/marcas","/dashboard/productos")
                    .then(([productos,categorias, marcas]) => {
                        console.log(productos,categorias, marcas);
                        modeloCharts(productos);
                    })
                    .catch(error => console.error("Error fetching data:", error));


            }
            /*metodo de traer datos de las urls*/
            const fetchCoastersData=(...urls)=>{
                const promises =urls.map(url=>fetch(url).then(response=>response.json()))
                return Promise.all(promises)
            }
            /*function modeloCharts(categorias) {
                const categoriaNombres = categorias.map(categoria => categoria.nombre);
                const dataValues = Array(categorias.length).fill(1);
                const data = {
                    labels: categoriaNombres,
                    datasets: [{
                        data: dataValues,
                        borderColor: ['blue', 'red', 'yellow'],
                        backgroundColor: ['blue', 'red', 'yellow'],
                        borderWidth: 1
                    }]
                };
                const options={
                    plugins:{
                        legend:{position:'left'}
                    }
                }
                new Chart('myChart',{type:'doughnut',data,options})
            }*/
            function modeloCharts(productos) {
                const unicosProductoNombres = [...new Set (productos.map(producto => producto.nombre))];

                const data = {
                    labels: unicosProductoNombres,
                    datasets: [{
                        data: unicosProductoNombres.map(model=>productos.filter(producto=>producto.nombre===model).length),
                        borderColor: ['blue', 'red', 'yellow','green'],
                        backgroundColor: ['blue', 'red', 'yellow','green'],
                        borderWidth: 1
                    }]
                };
                const options={
                    plugins:{
                        legend:{position:'left'}
                    }
                }
                new Chart('myChart',{type:'doughnut',data,options})
            }
            mostrarCharts();
        </script>

    </section>

</body>
</html>