<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1>Existencias</h1>
                    <div style="width: 90%; height: 350px;">
                        <canvas id="myChartExistencias"></canvas>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1>Categorias</h1>
                    <div style="width: 90%; height: 350px;">
                        <canvas id="myChartCategorias"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1>Productos</h1>
                    <div style="width: 90%; height: 350px;">
                        <canvas id="myChartProductos"></canvas>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1>Marcas</h1>
                    <div style="width: 90%; height: 350px;">
                        <canvas id="myChartMarcas"></canvas>
                    </div>
                </div>
            </div>
        </div>



        <script>

            //LLAMADA A LOS METODOS
            function mostrarCharts() {
                fetchCoastersData("/dashboard/existencias","/dashboard/productos","/dashboard/categorias","/dashboard/marcas")
                    .then(([existencias,productos,categorias, marcas]) => {
                        console.log(existencias,productos,categorias, marcas);
                        existenciasCharts(existencias);
                        categoriasCharts(categorias);
                        productosCharts(productos);
                        marcaCharts(marcas)
                    })
                    .catch(error => console.error("Error fetching data:", error));
            }
            /*metodo de traer datos de las urls*/
            const fetchCoastersData=(...urls)=>{
                const promises =urls.map(url=>fetch(url).then(response=>response.json()))
                return Promise.all(promises)
            }
            /*metodo de traer datos de las urls*/

            function categoriasCharts(categorias) {
                const cantidadCategorias = categorias.length;
                const color=`rgba(${randomColor(0, 255)}, ${randomColor(0, 255)}, ${randomColor(0, 255)}, 1)`;
                ;
                const data = {
                    labels: ['Categorías'],
                    datasets: [{
                        data: [cantidadCategorias],
                        borderColor: color,
                        backgroundColor: color,
                        borderWidth: 1
                    }]
                };
                const options={
                    plugins:{
                        legend:{position:'left'}
                    }
                }
                new Chart('myChartCategorias',{type:'polarArea',data,options})
            }
            function marcaCharts(marcas) {
                const cantidadmarcas = marcas.length;
                const color=`rgba(${randomColor(0, 255)}, ${randomColor(0, 255)}, ${randomColor(0, 255)}, 1)`;
                ;
                const data = {
                    labels: ['marcas'],
                    datasets: [{
                        data: [cantidadmarcas],
                        borderColor: color,
                        backgroundColor: color,
                        borderWidth: 1
                    }]
                };
                const options={
                    plugins:{
                        legend:{position:'left'}
                    }
                }
                new Chart('myChartMarcas',{type:'polarArea',data,options})
            }

            function existenciasCharts(existencias){
                const unicosProductoNombres = [...new Set(existencias.map(existencia => existencia.producto.nombre))];

                const colors=unicosProductoNombres.map(c=>
                    `rgba(${randomColor(255,0)},
                    ${randomColor(255,0)},
                    ${randomColor(255,0)},1)`
                );
                const data = {
                    labels: unicosProductoNombres,
                    datasets: [{
                        label:['existencias'],
                        data: unicosProductoNombres.map(model =>{const cantidadTotal = existencias
                            .filter(existencia => existencia.producto.nombre === model)
                            .reduce((total, existencia) => total + existencia.cantidad, 0);
                            return cantidadTotal;}),
                        borderColor:colors,
                        backgroundColor: colors,
                        borderWidth: 1
                    }]
                };
                const options = {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: { display: false }
                    },
                    indexAxis: 'x', // Mantener la orientación horizontal
                    elements: {
                        bar: {
                            barPercentage: 0.7, // Ajustar el ancho de las barras
                        }
                    }
                };
                new Chart('myChartExistencias',{type: 'bar', data, options} )
            }

            function productosCharts(productos) {
                const unicosProductoNombres = [...new Set(productos.map(producto => producto.nombre))];
                const colors=unicosProductoNombres.map(c=>
                    `rgba(${randomColor(255,0)},
                    ${randomColor(255,0)},
                    ${randomColor(255,0)},1)`
                );
                const data = {
                    labels: unicosProductoNombres,
                    datasets: [{
                        data: unicosProductoNombres.map(model => productos.filter(producto => producto.nombre === model).length),
                        borderColor:colors,
                        backgroundColor: colors,
                        borderWidth: 1
                    }]
                };
                const options = {
                    plugins: {
                        legend: {position: 'left'}
                    }
                }
                new Chart('myChartProductos', {type: 'doughnut', data, options})
            }

            //método para los colores
            function randomColor(max,min){
                return Math.random()*(max-min)+min;
            }
            //método para los colores

            mostrarCharts();
        </script>

    </section>

</body>
</html>