<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section>
      <div class="container text-right mt-4" >
          <header class="bg-dark text-white text-center p-4">
              <div>
                  <h1 th:text="${proveedor.razonSocial}"></h1>
                  <p>Teléfono: [[${proveedor.telefono}]]</p>
                  <p>Dirección: [[${proveedor.direccion}]]</p>
                  <p>Correo: [[${proveedor.Email}]]</p>
              </div>
          </header>
      </div>
      <div class="container mt-4" style=" margin-top: 20px; padding: 20px; ">
          <h2 class="mb-4">Productos:</h2>

          <div class="card">
              <div class="card-body"th:each="item:${proveedor.productos}" >
                  <h3 class="card-title"> [[${item.nombre}]]</h3>
                  <p class="card-text"> marca: [[${item.marca.nombre}]]</p>
              </div>
          </div>
          <div class="text-right mt-4">
              <a th:href="@{/proveedores/listar}" class="btn btn-primary btn-lg">regresar</a>
          </div>
      </div>
      <div class="container text-center mt-4" >
          <footer class="bg-dark text-white text-center p-3 ">
              <p>&copy; 2023</p>
          </footer>
      </div>

  </section>

</body>
</html>