<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container text-center">
        <h2>Empleados</h2>
        <table class="table table-hover table-dark table-bordered border-primary table-sm align-middle ">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRES</th>
                <th>DNI</th>
                <th>DIRECCIÓN</th>
                <th>EMAIL</th>
                <th>TELEFONO</th>
                <th>ROL</th>
                <th>CARGO</th>
                <th>EDITAR</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="empleado:${listaEmpleados}">
                <td th:text="${empleado.empleadoid}"></td>
                <td th:text="${empleado.nombres}"></td>
                <td th:text="${empleado.getDni}"></td>
                <td th:text="${empleado.direccion}"></td>
                <td th:text="${empleado.email}"></td>
                <td th:text="${empleado.telefono}"></td>
                <td th:text="${empleado.role}"></td>
                <td th:text="${empleado.cargo}"></td>
                <td>
                    <a th:href="@{'/empleados/editar'+'/' + ${empleado.empleadoid}}" class="btn btn-info">empleado</a>
                    <a th:href="@{'/empleados/credenciales/modificar'+'/' + ${empleado.empleadoid}}" class="btn btn-success">credenciales</a>
                </td>

            </tr>
            </tbody>

        </table>

    </div>
</section>

</body>
</html>