<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <section>
        <div class="container text-center mt-4" >
            <div class="row justify-content-center">
                <div class="col-md-4 mt-5">
                    <div class="alert alert -success" th:if="${success!=null}"th:text="${success}"></div>
                </div>
            </div>
            <div>
                <h1 th:if="${producto.id==null}">Agregar un nuevo producto</h1>
                <h1 th:unless="${producto.id==null}">Editar Producto</h1>
            </div>
            <form th:action="@{/productos/guardar}" th:object="${producto}" method="post" class="shadow-lg p-4 border bg-light rounded-1" style="max-width: 900px; margin: 0 auto;margin-top: 20px; padding: 20px;"enctype="multipart/form-data" >
                <input type="hidden" th:field="*{id}" th:value="${producto.id}">
                <div class="row g-3">
                    <div class="form-group col-md-6">
                        <label >ingrese producto:</label>
                        <input type="text" th:field="*{nombre}" class="form-control" required/>
                    </div>

                    <div class="form-group col-md-3">
                        <label >ingrese precio:</label>
                        <input type="text" th:field="*{costo}" class="form-control" required/>
                    </div>
                    <div class="form-group col-md-3">
                        <label >ingrese stock mínimo:</label>
                        <input type="number" th:field="*{limiteminimo}" class="form-control" required/>
                    </div>

                    <div class="form-group col-md-3">
                        <label>categoria</label>
                            <select th:field="*{categoria}" class="form-control" required>
                                <th:block th:each="categoria:${listaCategorias}">
                                    <option th:text="${categoria.getNombre}" th:value="${categoria.getId}"></option>
                                </th:block>
                            </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>marca</label>
                        <select th:field="*{marca}" class="form-control" required>
                            <th:block th:each="marca:${listaMarcas}">
                                <option th:text="${marca.getNombre}" th:value="${marca.getId}"></option>

                            </th:block>

                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>medida:</label>
                        <select th:field="*{medida}" class="form-control" required>
                            <th:block th:each="medidaItem : ${listaMedidas}">
                                <option th:text="${medidaItem.getNombre}" th:value="${medidaItem.getId}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>sección-almacen</label>
                        <select th:field="*{Tipoalmacen}" class="form-control" required>
                            <th:block th:each="listaTiposItem : ${listaTiposAlmacen}">
                                <option th:text="${listaTiposItem.getNombre}" th:value="${listaTiposItem.getId}"></option>
                            </th:block>
                        </select>

                    </div>

                    <div class="form-group col-md-12">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <label class="form-label">imagen:</label>
                            </div>
                            <div class="col-md-10"><input type="file" class="form-control m-2" name="file"  required/>

                            </div>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="text-center col-md-4">
                            <button class="btn btn-outline-primary mt-2 " type="reset" style="with:100%">limpiar</button>
                        </div>
                        <div class="text-center col-md-8">
                            <button type="submit" class="btn btn-primary mt-2 " style="background-color: #bf790a; border: none; outline: none;">Guardar</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>

</body>
</html>