<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container text-center">
        <h2>Proveedores</h2>
        <table class="table table-hover table-dark table-bordered border-primary table-sm align-middle ">
            <thead>
            <tr>
                <th>ID</th>
                <th>Razón social</th>
                <th>distrito</th>
                <th>direccion</th>
                <th>telefono</th>
                <th>correo</th>
                <th>Tipo de Persona</th>
                <th>Tipo de documento</th>
                <th>numero de documento</th>
                <th>ACCIONES</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="prove: ${listaProveedor}">
                <td th:text="${prove.id}"></td>
                <td th:text="${prove.razonSocial}"></td>
                <td th:text="${prove.distrito}"></td>
                <td th:text="${prove.direccion}"></td>
                <td th:text="${prove.telefono}"></td>
                <td th:text="${prove.Email}"></td>
                <td  th:text="${prove.tipopersona.nombre}"></td>
                <td th:text="${prove.tipodocumento.nombre}"></td>
                <td th:text="${prove.numerodocumento}"></td>
                <td>
                    <a th:href="@{'/proveedores/editar'+'/' + ${prove.id}}" class="btn btn-info" style="background-color: #bf790a; border: none; outline: none;">editar</a>
                    <a th:href="@{'/proveedores/detalles'+'/' + ${prove.id}}" class="btn btn-primary" style="background-color: #bf790a; border: none; outline: none;">detalles </a>

                </td>
            </tr>
            </tbody>


        </table>

    </div>

</section>
</body>
</html>